			#header {
				height: 30px;
				background-color: #f0f0f0;
				width:100%;
			    padding-left: 20px;
			    padding-right: 20px;
			} #header .menu {
				width:95%;
			    float: right;
			    padding: 0;
			    margin: 0;
			}  #header .ul .b {
				list-style-type: none; 
				float: right;
				padding: 3px 10px;
				margin: auto 0;
			} .navbar {
			    height: 80px;
			    padding-left: 50px;
			    padding-right: 50px;
			} .navbar #logo {
			    line-height: 60px;
			} .navbar img {
			    vertical-align: top;
			} .navbar #menu {
			    float: right;
			    list-style-type: none;
			    padding: 0;
			    margin: 0;
			} .navbar #menu li {
			    float: left;
				line-height: 60px;
				margin-left: 30px;
			} .navbar #menu li a {
			    color: #545454;
			    font-size: 15px;
			    text-decoration: none;
			} #content {
				width: 100%;
				height: 850px;
				background-color: rgba(224, 224, 224, 0.3);
			} #content .login {
				width: 50%;
				padding: 150px 0px 200px 300px;
				float: left;
			} #content .join {
				width: 50%;
				padding: 300px 200px 150px 100px;
				float: left;
			} #content .login a {
				color: #545454;
				font-size: 15px;
				text-decoration: none;
			} #footer {
				background-color: black;
				color: white;
				clear: both;
				height: 100px;
				width: 100%;
			} #footer .copyright {
				text-align: center;
				padding: 32px;
			} .hr-sect {
				display: flex;
				flex-basis: 100%;
				align-items: center;
				color: rgba(0, 0, 0);
				font-size: 15px;
				margin: 8px 0px;
			} .hr-sect::before, .hr-sect::after {
				content: "";
				flex-grow: 1;
				background: rgba(0, 0, 0, 0.35);
				height: 1px;
				font-size: 0px;
				line-height: 0px;
				margin: 0px 16px;	
			}