<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bluebee.modules.codegroup.CodeGroupMapper">

    <resultMap id="resultMapObj" type="com.bluebee.modules.codegroup.CodeGroup"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			a.ccgSeq
			,a.codeName
			,a.userNY
			,a.ccorder
			,a.regDate
			,a.modifyDate
			,a.delNy
			,a.codeNameEng
            ,(SELECT count(bb.ccSeq) FROM code bb WHERE bb.codegroup_ccgSeq = a.ccgSeq) as cnt
			FROM codegroup a
			WHERE 1=1
			<if test="shDelNy != null and !shDelNy.equals('')">AND delNy = #{shDelNy}</if>
			<if test="shstartDate != null and !shstartDate.equals('') and shendDate != null and !shendDate.equals('')"> AND a.regDate between #{shstartDate} AND #{shendDate}</if>
			
			<choose>
				<when test="shOption == 1">AND ccgSeq = #{shValue}</when>
				<when test="shOption == 2">AND codeName LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 3">AND codeNameEng LIKE CONCAT('%',#{shValue},'%')</when>
		
				<otherwise></otherwise>
			</choose> 
	</select>
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.*
		from codegroup a
		WHERE 1=1
		AND ccgSeq = #{ccgSeq}
	
	</select>
	<insert id="insert">
		insert into codegroup (
				ccorder
				,codeName
				,userNY
				,delNy
				,codeNameEng
				,regDate
			)
			values(
				#{ccorder}
				,#{codeName}
				,#{userNY}
				,#{delNy}
				,#{codeNameEng}
				,NOW()
			)
		<selectKey resultType="String" keyProperty="ccgseq" order="AFTER">
			select last_insert_id()
		</selectKey>
			
	
	</insert>
</mapper>		
