<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Base">
	<sql id="selectListUpper">
		select b.* from(
	</sql>
	
	<sql id="selectListLower">
		) b
		limit #{rowNumToShow} offset #{startRnumForMysql}
	</sql>
	
	<insert id="insertUploaded">
	INSERT INTO ${tableName} (
		type
		,idefaultNy
		,sort
		,path
		,originalName
		,uuidName
		,ext
		,size
		,idelNy
		,pseq
	) values (
		#{type}
		,#{idefaultNy}
		,#{sort}
		,#{path}
		,#{originalName}
		,#{uuidName}
		,#{ext}
		,#{size}
		,0
		,#{pseq}
	)
	</insert>
</mapper>