<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bluebee.modules.member.MemberMapper">

    <resultMap id="resultMapObj" type="com.bluebee.modules.member.Member"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			a.*
		FROM member a
		WHERE 1=1
		<choose>
			<when test = "shOption == 1">AND userName LIKE CONCAT('%',#{shValue},'%')</when>
			<when test = "shOption == 2">AND userID LIKE CONCAT('%', #{shValue},'%')</when>
			<when test = "shOption == 3">AND userNick LIKE CONCAT('%',#{shValue}, '%')</when>
		</choose>
	</select>
</mapper>		
