<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bluebee.modules.code.CodeMapper">

    <resultMap id="resultMapObj" type="com.bluebee.modules.code.Code"></resultMap>
	
		<select id="selectList" resultMap="resultMapObj">
	 		<include refid="Base.selectListUpper" />
			SELECT
				a.*
			    ,b.*
			 <include refid='common' />
			 <include refid='Base.selectListLower' />
		</select>
	
		<select id="selectOneCount" resultType="Integer">
			SELECT COUNT(*)
			<include refid="common" />
		</select>
		
		<select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.*
			,b.*
		from code a
		LEFT JOIN codegroup b ON a.codegroup_ccgSeq = b.ccgSeq
		WHERE 1=1
		AND a.ccseq = #{ccseq}
	
	</select>
	<select id="ccgviewr" resultMap="resultMapObj">
	SELECT
			a.*
		    ,b.*
		    FROM codegroup a
		    LEFT JOIN code b ON b.codegroup_ccgSeq = a.ccgSeq
		    WHERE 1=1
		    AND a.delNy = 0
		    GROUP BY codeName
	</select>
	
	<insert id="insert">
		insert into code(
		cname
		,ccorder
		,codegroup_ccgSeq
		,yn
		)
		values(
		#{cname}
		,#{ccorder}
		,#{codegroup_ccgSeq}
		,#{yn}
		)
		<selectKey resultType="String" keyProperty="ccSeq" order="AFTER"> 
			select last_insert_id()
		</selectKey>
	</insert>
	<update id="update">
	update code
	set
		cname = #{cname}
		,ccorder = #{ccorder}
		,yn = #{yn}
		,uesrNY = #{userNY}
		,codegroup_ccgSeq = #{codegroup_ccgSeq}
			WHERE
				ccseq = #{ccseq }
	</update>
		
	<sql id="common">
			    FROM codegroup a
		    LEFT JOIN code b ON b.codegroup_ccgSeq = a.ccgSeq
			WHERE 1=1
			<if test="shDelNy != null and !shDelNy.equals('')">AND yn = #{shDelNy}</if>
			<choose>
				<when test="shOption == 1">AND ccgSeq = #{shValue}</when>
				<when test="shOption == 2">AND codeName LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 3">AND cname LIKE CONCAT('%',#{shValue},'%')</when>
			</choose>
	</sql>
	
	    <select id="selectListCachedCodeArrayList" resultMap="resultMapObj">
		SELECT 
			ccseq
			,cname
			,codegroup_ccgseq
			,corder
		FROM
			code
		WHERE 1=1
			AND yn = 0
		    AND uesrNY = 1
    </select>
	
</mapper>	