<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bluebee.modules.code.CodeMapper">

    <resultMap id="resultMapObj" type="com.bluebee.modules.code.Code"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			a.ccgSeq
		    ,a.codeName
		    ,b.ccSeq
		    ,b.cname
		    ,b.yn
		    FROM codegroup a
		    LEFT JOIN code b ON b.codegroup_ccgSeq = a.ccgSeq
			WHERE 1=1
			<if test="shDelNy != null and !shDelNy.equals('')">AND yn = #{shDelNy}</if>
			<choose>
				<when test="shOption == 1">AND ccgSeq = #{shValue}</when>
				<when test="shOption == 2">AND codeName LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 3">AND cname LIKE CONCAT('%',#{shValue},'%')</when>
				<otherwise></otherwise>
			</choose>
	</select>
	<select id="ccgviewr" resultMap="resultMapObj">
	SELECT
			a.ccgSeq
		    ,a.codeName
		    ,b.ccSeq
		    ,b.cname
		    ,b.yn
		    FROM codegroup a
		    LEFT JOIN code b ON b.codegroup_ccgSeq = a.ccgSeq
		    GROUP BY codeName
		
	</select>
	
	<insert id="insert">
		insert into code(
		cname
		,ccorder
		,codegroup_ccgSeq
		,yn
		)
		values(
			#{cname}
			,#{ccorder}
			,#{codegroup_ccgSeq}
			,#{yn}
		)
		<selectKey resultType="String" keyProperty="ccSeq" order="AFTER"> 
			select last_insert_id()
		</selectKey>
	</insert>
	
	
</mapper>	