<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bluebee.modules.xdmincg.XdminCGMapper">

    <resultMap id="resultMapObj" type="com.bluebee.modules.xdmincg.XdminCG"></resultMap>
    
    <select id="selectList" resultMap="resultMapObj">
    	<include refid="Base.selectListUpper"/>
    	select
    		a.codeGroupSeq
    		,a.codeGroupName
    		,a.codeGroupNameEng
    		,a.codeGroupOrder
    		,a.codeGroupUseNY
			,a.codeGroupDelNY
			,a.codeGroupRegdate
			,a.codeGroupUpdate
			<include refid="basic" />
			ORDER BY a.codeGroupSeq DESC
			<include refid='Base.selectListLower'/>
    </select>
    
    <sql id='basic'>
    	from CodeGroup a
    	WHERE 1=1
    	
			<if test="shstartDate != null and !shstartDate.equals('') and shendDate != null and !shendDate.equals('')"> AND codeGroupRegdate between #{shstartDate} AND #{shendDate}</if>
			
			<choose>
				<when test="shOption == 1">AND codeGroupSeq = #{shValue}</when>
				<when test="shOption == 2">AND codeGroupName LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 3">AND codeGroupNameEng LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shDelNy == 0">AND codeGroupDelNY = #{shDelNy}</when>
				<when test="shDelNy == 1">AND codeGroupDelNY = #{shDelNy}</when>
				<when test="shDelNy == 9"></when>
			</choose>
    </sql>
    
    <select id="selectOne" resultMap="resultMapObj">
		SELECT
			a.*
		from CodeGroup a
		WHERE 1=1
		AND codeGroupSeq = #{codeGroupSeq}
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="basic" />
	</select>
	
    
	<insert id="insert">
		insert into CodeGroup (
			codeGroupSeq
			,codeGroupName
			,codeGroupNameEng
			,codeGroupOrder
			,codeGroupUseNY
			,codeGroupDelNY
			,codeGroupRegdate
			)
			values(
			 #{codeGroupSeq}
			,#{codeGroupName}
			,#{codeGroupNameEng}
			,#{codeGroupOrder}
			,#{codeGroupUseNY}
			,#{codeGroupDelNY}
			,now()
			)
			
		<selectKey resultType="String" keyProperty="codeGroupSeq" order="AFTER">
			select last_insert_id()
		</selectKey>
	</insert>
	
	<update id="update">
		UPDATE CodeGroup
		SET	
			codeGroupName = #{codeGroupName }
			,codeGroupNameEng = #{codeGroupNameEng }
			,codeGroupOrder = #{codeGroupOrder }
			,codeGroupUseNY = #{codeGroupUseNY }
			,codeGroupDelNY = #{codeGroupDelNY }
			,codeGroupUpdate = now()
		WHERE
			codeGroupSeq = #{codeGroupSeq}
	</update>
	
</mapper>