<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bluebee.modules.store.StoreMapper">

    <resultMap id="resultMapObj" type="com.bluebee.modules.store.Store"></resultMap>
    
    <select id="selectList" resultMap="resultMapObj">
	    	select
	    		a.productSeq
	    		,a.productName
	    		,a.productType
	    		,a.productPrice
	    		,a.productNew
	    		,a.productBest
	    		,a.productRegDate
	    		,a.productUpDate
	    		,b.*
		<include refid='basic' />
    </select>
    
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
    		a.productSeq
    		,a.productName
    		,a.productType
    		,a.productPrice
    		,a.productNew
    		,a.productBest
    		,a.productRegDate
    		,a.productUpDate
    	from
    		product a
    	where 1=1
			and a.productSeq = #{productSeq}
	</select>
		
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="basic" />
	</select>
    <sql id='basic'>
		FROM 
			product a
		left join productDetail b on a.productSeq = b.product_Seq
		WHERE 1=1
   	</sql>
</mapper>