<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bluebee.modules.store.StoreMapper">

    <resultMap id="resultMapObj" type="com.bluebee.modules.store.Store"></resultMap>
    
    <select id="selectList" resultMap="resultMapObj">
    <include refid="Base.selectListUpper"/>
	    	select
	    		a.productSeq
	    		,a.productName
	    		,a.productType
	    		,a.productPrice
	    		,a.productNew
	    		,a.productBest
	    		,a.productRegDate
	    		,a.productUpDate
	    		,b.*
		<include refid='basic' />
		<include refid='Base.selectListLower'/>
    </select>

    <!-- 리뷰s -->
     <insert id="reviewInsert">
    	insert into reView(
    	member_memberSeq
    	,product_Seq
    	,Score
    	,Content
    	,reviewDelNy
    	,reviewRegDate
    	) values (
    	#{member_memberSeq}
    	,#{product_Seq}
    	,#{Score}
    	,#{Content}
    	,0
    	,now()
    	)
    	<selectKey resultType="String" keyProperty="reViewSeq" order="AFTER"> 
			select last_insert_id()
		</selectKey>
    </insert>
    <select id="reviewList" resultMap="resultMapObj">
    	select
    		*
    	from reView
    	where 1=1
    		and product_Seq = #{productSeq}
    </select>
    <!-- 리뷰e -->
    
    <insert id="insert">
    	insert into product(
    		productName
    		,productType
    		,productPrice
    		,productNew
    		,productBest
    		,productRegDate
    		<!-- ,informationType -->
    		,informationColor
    		,informationSize
    		,informationCompany
    		,informationWarning
    		,informationCountry
    		,informationQuality
    		,informationAS
    		,productDelNy
    		)
    		VALUES(
    		 #{productName}
    		,#{productType}
    		,#{productPrice}
    		,#{productNew}
    		,#{productBest}
    		,now()
    		<!-- ,#{informationType} -->
    		,#{informationColor}
    		,#{informationSize}
    		,#{informationCompany}
    		,#{informationWarning}
    		,#{informationCountry}
    		,#{informationQuality}
    		,#{informationAS}
    		,#{productDelNy}
    		)
		<selectKey resultType="String" keyProperty="productSeq" order="AFTER"> 
			select last_insert_id()
		</selectKey>
    </insert>
    
    <insert id="detailinsert">
    	insert into productDetail(
    		product_Seq
    		,color_colorseq
    		,size_size
    		,num
    	)
    	VALUES(
    		#{productSeq}
    		,#{color_colorseq}
    		,#{size_size}
    		,#{num}
    	)
	    <selectKey resultType="String" keyProperty="detailSeq" order="AFTER"> 
			select last_insert_id()
		</selectKey>
    </insert>
    
    <update id="update">
    	update product
    	set
    	    productName = #{productName}
    		,productType = #{productType}
    		,productPrice = #{productPrice}
    		,productNew = #{productNew}
    		,productBest = #{productBest}
    		,productRegDate = #{productRegDate}
    		,informationType = #{informationType}
    		,informationColor = #{informationColor}
    		,informationSize = #{informationSize}
    		,informationCompany = #{informationCompany}
    		,informationCountry = #{informationCountry}
    		,informationWarning = #{informationWarning}
    		,informationQuality = #{informationQuality}
    		,informationAS = #{informationAS}
    		,productDelNy = #{productDelNy}
    		where
			productSeq = #{productSeq}
    </update>
    
	<!-- 상품 메인 이미지 s -->
	<select id="mainImg" resultMap="resultMapObj">
    	select
    		a.*
    		,b.*
    	from 
    		product a
    	left join
    		productUploaded b
    	on 
    		a.productSeq = b.pseq
    	WHERE
    		a.productSeq = #{productSeq}
    	ORDER BY 
    		b.sort ASC
    </select>
    <!-- 상품 메인 이미지 e -->
    
    <!-- 상품 상세 이미지 s -->
    	<select id="detailImg" resultMap="resultMapObj">
    	select 
    		a.*
    		,b.*
    	from 
    		product a
    	left join
    		productDetailUploaded b
    	on 
    		a.productSeq = b.pseq
    	where 
    		a.productSeq = #{productSeq}
    	order by 
    		b.sort ASC
    </select>
    <!-- 상품 메인 이미지 e -->
    
    <!-- 상품 컬러 리스트S -->
    <select id="productColor" resultMap="resultMapObj">
    	SELECT
    		a.colorName
    		,a.colorSeq
    		,b.detailSeq
    	FROM
    		Color a
    	LEFT JOIN
    		productDetail b
    	ON
    		a.colorSeq = b.Color_colorSeq
    	WHERE 1=1
    		AND b.product_Seq = #{productSeq}
    	GROUP BY
    		a.colorName
	</select>
	<!--  상품 컬러 리스트E -->
	
	<!-- 상품 사이즈 리스트S -->
    <select id="productSize" resultMap="resultMapObj">
    	SELECT
    		a.Size
    		,a.SizeName
    		,b.Size_Size
    		,b.num
    		,b.color_colorSeq
    		,b.detailSeq
    	FROM
    		Size a
    	LEFT JOIN
    		productDetail b
    	ON
    		a.Size = b.Size_Size
    	WHERE 1=1
    		AND b.product_Seq = #{productSeq}
    		AND b.Size_Size = a.Size
	</select>
	<!--  상품 사이즈 리스트E -->
	
	<!--  상품 구매 S -->
	<insert id="buyOrder">
		insert into purChase_Product(
			price
			,memberAddr_addrSeq
			,productDetail_detailSeq
			,payment
			,orderMemo
		) VALUES(
			#{price}
			,#{memberAddr_addrSeq}
			,#{productDetail_detailSeq}
			,#{payment}
			,#{orderMemo}
		)
		<selectKey resultType="String" keyProperty="purChase" order="AFTER"> 
			select last_insert_id()
		</selectKey>
	</insert>
	
	<select id="buyOneList" resultMap="resultMapObj">
		select
			a.memberMobile
			,a.memberEmail
			,b.addrSeq
			,b.defaultNY
			,b.reciver
			,b.zipCode
			,b.addr1
			,b.addr2
		FROM
			member a
		LEFT JOIN
			memberAddr b
		ON
			a.memberSeq = b.memberSeq
		WHERE 1=1
			 AND a.memberSeq = #{memberSeq}
	</select>
	<select id="detailList" resultMap="resultMapObj">
		select
			b.colorName
			,c.SizeName
		from 
			productDetail a
		left join
			Color b
		ON
			a.color_colorSeq = b.colorSeq
		left join
			Size c
		ON
			a.size_size = c.Size
		where 1=1
			and detailSeq = #{detailSeq}
	</select>
	<!--  상품 구매 E -->
	
	<!--  장바구니 S-->
	<insert id="basketInsert">
		insert into basKets(
		member_memberSeq
		,basketDelNy
		,productDetail_detailSeq
		) values(
		#{member_memberSeq}
		,#{basketDelNy}
		,#{productDetail_detailSeq}
		)
		<selectKey resultType="String" keyProperty="basketSeq" order="AFTER"> 
			select last_insert_id()
		</selectKey>
	</insert>
	
	<select id="basketList" resultMap="resultMapObj">
	</select>
	<!-- 장바구니 E -->
   <select id="cL" resultMap="resultMapObj">
    	select 
    		colorSeq
        	,colorName
    	from Color
    </select>
    <select id="sL" resultMap="resultMapObj">
    	select 
    		Size
        	,sizeName
    	from Size
    </select>
	<select id="selectOne" resultMap="resultMapObj">
    	select
    		productSeq
    		,productName
    		,productPrice
    		,productType
    		,productNew
    		,productBest
    		,informationColor
    		,informationSize
    		,informationWarning
    		,informationCompany
    		,informationCountry
    		,informationQuality
    		,informationAS
    		,productDelNy
    	from 
    		product 
		where
			productSeq = #{productSeq}
	</select>
		
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="basic" />
	</select>
	
    <sql id='basic'>
		FROM 
			product a
		LEFT JOIN
			productUploaded b
		ON
			a.productSeq = b.pseq
		WHERE 1=1
		<choose>
				<when test="shType == 0">AND a.productName LIKE CONCAT('%',#{shValue},'%') </when>
				<when test="shType == 1">AND a.productName LIKE CONCAT('%',#{shValue},'%') AND a.productType = 1</when>
				<when test="shType == 2">AND a.productName LIKE CONCAT('%',#{shValue},'%') AND a.productType = 2</when>
				<when test="shType == 3">AND a.productName LIKE CONCAT('%',#{shValue},'%') AND a.productType = 3</when>
			</choose>
   	</sql>
</mapper>