<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bluebee.modules.xdmincode.XdminCodeMapper">

    <resultMap id="resultMapObj" type="com.bluebee.modules.xdmincode.XdminCode"></resultMap>
	
		<select id="selectList" resultMap="resultMapObj">
	 		<include refid="Base.selectListUpper" />
			SELECT
				a.codeSeq
				,a.cGroupSeq
				,b.codeGroupSeq
				,b.codeGroupName
				,a.codeName
				,a.codeNameEng
				,a.codeOrder
				,a.codeUseNY
				,a.codeDelNY
				,a.codeRegdate
				,a.codeUpdate
			<include refid='common' />
			<include refid='Base.selectListLower' />
		</select>
	
		<select id="selectOneCount" resultType="Integer">
			SELECT COUNT(*)
			<include refid="common" />
		</select>
		
		<select id="selectOne" resultMap="resultMapObj">
			SELECT
				a.codeSeq
				,a.cGroupSeq
				,b.codeGroupSeq
				,b.codeGroupName
				,a.codeName
				,a.codeNameEng
				,a.codeOrder
				,a.codeUseNY
				,a.codeDelNY
				,a.codeRegdate
				,a.codeUpdate
			<include refid='common' />
			and a.codeSeq = #{codeSeq}
		</select>
		
		<select id="codegroupViewer" resultMap="resultMapObj">
			SELECT
				codeGroupName
				,codeGroupSeq
			FROM CodeGroup
			
		</select>
	
		<insert id="insert">
			insert into Code(
				codeName
				,cGroupSeq
				,codeNameEng
				,codeOrder
				,codeUseNY
				,codeDelNY
				,codeRegdate
			)
			values(
				#{codeName}
				,#{cGroupSeq}
				,#{codeNameEng}
				,#{codeOrder}
				,#{codeUseNY}
				,#{codeDelNY}
				,now()
			)
			<selectKey resultType="String" keyProperty="codeSeq" order="AFTER"> 
				select last_insert_id()
			</selectKey>
		</insert>
		
		<update id="update">
			update Code
			set
				codeName = #{codeName}
				,cGroupSeq = #{cGroupSeq}
				,codeNameEng = #{codeNameEng}
				,codeOrder = #{codeOrder}
				,codeUseNY = #{codeUseNY}
				,codeDelNY = #{codeDelNY}
				,codeUpdate = now()
			where 
				codeSeq = #{codeSeq}	
		</update>
		
		<!--  SQL  -->
		<sql id="common">
			FROM Code a
			left join CodeGroup b on a.cGroupSeq = b.codeGroupSeq
    		WHERE 1=1
    	
			<if test="shstartDate != null and !shstartDate.equals('') and shendDate != null and !shendDate.equals('')"> AND codeRegdate between #{shstartDate} AND #{shendDate}</if>
			
			<choose>
				<when test="shOption == 1">AND codeSeq = #{shValue}</when>
				<when test="shOption == 2">AND codeName LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shOption == 3">AND codeNameEng LIKE CONCAT('%',#{shValue},'%')</when>
				<when test="shDelNy == 0">AND codepDelNY = #{shDelNy}</when>
				<when test="shDelNy == 1">AND codeDelNY = #{shDelNy}</when>
				<when test="shDelNy == 9"></when>
			</choose>
		</sql>
	
	 <select id="selectListCachedCodeArrayList" resultMap="resultMapObj">
			SELECT 
				a.codeSeq
				,a.codeName
				,a.cGroupSeq 
				,a.codeOrder
			FROM
				Code a
			WHERE 1=1
				AND codeDelNY = 0
			    AND codeUseNY = 1
	    </select>
	    
		<update id="uelete">
		UPDATE 
			Code
		SET
			codeDelNY = 1
		WHERE
			codeSeq= #{codeSeq}
		</update>
		
		<delete id="delete">
		delete from 
			Code 
		where
			codeSeq = #{codeSeq}
		</delete>
</mapper>	