			#haeder {
				height: 50px;
			}
			.navbar {
				height: 80px;
				padding-left: 50px;
				padding-right: 50px;
			}
			.navbar #logo {
				line-height: 60px;
			}
			.navbar img {
				vertical-align: top;
			}
			.navbar #menu {
				float: right;
				list-style-type: none;
				padding: 0;
				margin: 0;
			}
			.navbar #menu li {
				float: left;
				line-height: 60px;
				margin-left: 30px;
			}
			.navbar #menu li a {
				color: #545454;
				font-size: 15px;
				text-decoration: none;
			}
			#content {
				width: 70%;
				margin:auto;
			}

			#footer {
				background-color: black;
				color: white;
				height: 90px;
				width: 100%;
				clear: both;
			}
			#footer .copyright {
				text-align: center;
				padding: 30px;
			}
			@font-face {
				font-family: 'ChosunGu';
				src:url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff')
				format('woff');
				font-weight: normal;
				font-style: normal;
			}
			body {
				font-family: 'ChosunGu';
				margin: 0;
			} 
			.condition {
				border: 1px solid black;
				width: 100%;
				padding: 10px;
			}
			select {
				width: 100px;
			} table, td, th {
				border: 1px solid black;
				border-collapse: collapse;
				text-align: center;
			} thead {
				background-color:black;
				color:white;
			} table {
				width: 100%;
			}
			.wrapper{
			margin-top:20px;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		}
		.page-link {
		    position: relative;
		    display: block;
		    color: #673AB7 !important;
		    text-decoration: none;
		    background-color: #fff;
		    border: 1px solid #673AB7;
		}
		.page-link:hover {
		    z-index: 2;
		    color: #fff !important;
		    background-color: #673ab7;
		    border-color: #024dbc;
		} .page-link:focus {
		    z-index: 3;
		    outline: 0;
		    box-shadow: none;
		} 