			 #header {
				height: 30px;
				background-color: #f0f0f0;
				width:100%;
			    padding-left: 20px;
			    padding-right: 20px;
			} #header .menu {
				width:95%;
			    float: right;
			    padding: 0;
			    margin: 0;
			} #header .ul .b {
				list-style-type: none; 
				float: right;
				padding: 3px 10px;
				margin: auto 0;
			} #header .ul a {
			    color: #545454;
			    font-size: 15px;
			    text-decoration: none;
			} .navbar {
			    height: 80px;
			    padding-left: 50px;
			    padding-right: 50px;
			    width: 100%;
			} .navbar #logo {
			    line-height: 60px;
			} .navbar img {
			    vertical-align: top;
			} .navbar #menu {
			    float: right;
			    list-style-type: none;
			    padding: 0;
			    margin: 0;
			} .navbar #menu li {
			    float: left;
				line-height: 60px;
				margin-left: 30px;
			} .navbar #menu li a {
			    color: #545454;
			    font-size: 15px;
			    text-decoration: none;
			} #content {
				width: 50%;
				height: 800px;
				margin: auto;
				margin-top: 0px;
			}  #content .right {
				float: left;
				width:45%;
				padding: 50px;
				text-align: center;
			} #content .left {
				float: left;
				width: 45%;
				padding :50px;
				margin-right: 10%;
				text-align: center;
			} #footer {
				background-color: black;
				color: white;
				clear: both;
				height: 100px;
				width: 100%;
			} #footer .copyright {
				text-align: center;
				padding: 32px;
			}
			@font-face {
				font-family: 'ChosunGu';
				src:
					url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff')
					format('woff');
				font-weight: normal;
				font-style: normal;
			}
			body {
				font-family: 'ChosunGu';
				margin: 0;
			} 
			 .search-box{
			  width: fit-content;
			  height: fit-content;
			  position: relative;
			} .input-search{
			  height: 25px;
			  width: 50px;
			  border-style: none;
			  padding: 10px;
			  font-size: 10px;
			  outline: none;
			  border-radius: 25px;
			  transition: all .5s ease-in-out;
			  padding-right: 20px;
			}
			.input-search::placeholder{
			  font-size: 10px;
			  font-weight: 10;
			}
			.btn-search{
			  width: 50px;
			  height: 27px;
			  border-style: none;
			  font-size: 10px;
			  font-weight: bold;
			  outline: none;
			  cursor: pointer;
			  border-radius: 25PX;
			  position: absolute;
			  right: 0px;
			  pointer-events: none;  
			}
			.btn-search:focus ~ .input-search{
			  width: 300px;
			  border-radius: 0px;
			  border-bottom:1px solid rgba(255,255,255,.5);
			  background-color: transparent;
			  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
			}
			.input-search:focus{
			  width: 300px;
			  border-radius: 0px;
			  border-bottom:1px solid rgba(255,255,255,.5);
			  background-color: transparent;
			  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
			} .menu a:hover {
				opacity: 0.5;
			} 