 				.modal {
				    display: none;
				    z-index: 500;
				    width: 100%;
				    height: 100%;
				    position: fixed;
				    top: 0;
				    left: 0;
				    background-color: rgba(0, 0, 0, 0.8);
				}
				.modalBox {
				    position: relative;
				    text-align: center;
				    top : 25%;
				    left : 50%;
				    position : sticky;
				}
				p img:hover{
				    cursor: -webkit-zoom-in;
				}
 			#header {
				height: 30px;
				background-color: #f0f0f0;
				width:100%;
			    padding-left: 20px;
			    padding-right: 20px;
			} #header .menu {
				width:95%;
			    float: right;
			    padding: 0;
			    margin: 0;
			}  #header .ul .b {
				list-style-type: none; 
				float: right;
				padding: 3px 10px;
				margin: auto 0;
			} #header .ul a {
			    color: #545454;
			    font-size: 15px;
			    text-decoration: none;
			} .navbar {
				width:100%;
			    height: 80px;
			    padding-left: 50px;
			    padding-right: 50px;
			} .navbar #logo {
			    line-height: 60px;
			} .navbar img {
			    vertical-align: top;
			} .navbar #menu {
			    float: right;
			    list-style-type: none;
			    padding: 0;
			    margin: 0;
			} .navbar #menu li {
			    float: left;
				line-height: 60px;
				margin-left: 30px;
			} .navbar #menu li a {
			    color: #545454;
			    font-size: 15px;
			    text-decoration: none;
			} .navbar #menu li a:hover {
			 	color: silver;
			} #content {
				width: 60%;
				margin: auto;
				margin-top: 50px;
				margin-bottom: 20px;
			} #content .productimg {
				width: 50%;
				float:left;
				overflow: auto;
			} #content .productbuy{
				width:50%;
				float:left;
			} #information {
				width: 60%;
				margin: auto;
				margin-top : 550px;
			} .infornav {
				width: 100%;
				margin: 0 auto;
				position: sticky;
				top: 0;
			} .infornav ul {
				width : 100%;
				margin: 0 auto;
			}  #footer {
				background-color: black;
				color: white;
				clear: both;
				height: 100px;
				width: 100%;
			} #footer .copyright {
				text-align: center;
				padding: 32px;
			} .title {
				font-size:18px;
				font-weight:bold;
			} .price {
				font-size:18px;
				font-weight:bold;
				color:#2c3e50;
			} .express {
				font-size:10px;
				color:#808080;
			} #refund {
				width: 60%;
				margin: auto;
				margin-top:30px;
			} #review {
				width: 60%;
				margin: auto;
				margin-top:70px;
			} #review .comment {
				width: 100%;
			} #review ul {
				display:flex;
				padding: 0;
			} #review li {
				list-style: none;
			}  .imagee{
				text-align: center;
			}
			label {
				cursor: pointer;
				position: relative;
			} input[type="radio"] {
				  appearance: none;
				  margin: 0 5px;
				  width: 20px;
				  height: 20px;
				  background: #eeeeee;
				  border-radius: 50%;
				  transition: .2s;
				  cursor: pointer;
				  color: #363945;
				  border: 1px solid black;
				}
				input[type="radio"]:hover, input[type="radio"]:checked {
				   box-shadow: inset 0 0 0 .1em white, 0 0 0 .1em #c2cdd3;
				 
				}
				input[type="radio"]:checked {
				   box-shadow: inset 0 0 0 .1em white, 0 0 0 .1em #c2cdd3;
				  
				}
				input[type="radio"]:focus {
				  outline: 0;
				}
				
				label:hover::before {
					content: attr(for);
					text-align:center;
					text-transform: capitalize;
					font-size: 8px;
					position: absolute;
					top: 100%;
					left: 0;
					right: 0;
					opacity: 0.75;
					background-color: #323232;
					color: #fff;	
					padding: 0;
					border-radius: 3px;
				  	display: block;
				}
			#check-btn { 
				display: none; 
			} #check-btn:checked ~ .menubars { 
				display: block; 
			} .menubars { 
				display: none; 
			} @font-face {
			    font-family: 'ChosunGu';
			    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
			    font-weight: normal;
			    font-style: normal;

			} body {
				font-family: 'ChosunGu';
				justify-content: center;
			} .myButton {
				background-color:transparent;
				border:2px solid #2c3e50;
				display:inline-block;
				cursor:pointer;
				color:#000000;
				font-family:Arial;
				font-size:17px;
				padding:14px 76px;
				text-decoration:none;
			}
			.myButton:hover {
				background-color:transparent;
			}
			.myButton:active {
				position:relative;
				top:1px;
			} .infornav li {
				float:left;
				width: 33%;
				height: 50px;
				line-height: 50px;
				text-align: center;
				list-style:none;
				font-size: 14px;
				background-color: white;
				border-bottom: 1px solid rgba(0, 0, 0, .1);
			} .infornav a {
				display: block;
				text-decoration: none;
				color: #808080;
			} .infornav li a:hover {
			 	color: silver;
			}
			 .search-box{
			  width: fit-content;
			  height: fit-content;
			  position: relative;
			} .input-search{
			  height: 25px;
			  width: 50px;
			  border-style: none;
			  padding: 10px;
			  font-size: 10px;
			  outline: none;
			  border-radius: 25px;
			  transition: all .5s ease-in-out;
			  padding-right: 20px;
			}
			.input-search::placeholder{
			  font-size: 10px;
			  font-weight: 10;
			}
			.btn-search{
			  width: 50px;
			  height: 27px;
			  border-style: none;
			  font-size: 10px;
			  font-weight: bold;
			  outline: none;
			  cursor: pointer;
			  border-radius: 25PX;
			  position: absolute;
			  right: 0px;
			  pointer-events: none; 
			}
			.btn-search:focus ~ .input-search{
			  width: 300px;
			  border-radius: 0px;
			  border-bottom:1px solid rgba(255,255,255,.5);
			  background-color: transparent;
			  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
			}
			.input-search:focus{
			  width: 300px;
			  border-radius: 0px;
			  border-bottom:1px solid rgba(255,255,255,.5);
			  background-color: transparent;
			  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
			} .menu a:hover {
				opacity: 0.5;
			} .content_warp {
				width: 80%;
			} .data_warp {
				width: 20%;
			} .star_rating {
				font-size: 12px;
			} .detail_warp {
				color: #e0e0e0;
				font-size: 12px;
			} .idnick_wrap {
				color: #e0e0e0;
				font-size: 12px;
			} .date_warp {
				color:#e0e0e0;
				font-size: 12px;
			} .content_detail_warp {
				font-size: 14px;
			} .img_warp img {
				max-width: 80px;
			} .review_boder {
				border-bottom: 1px solid #eee;
			}
			.starpoint_wrap {
			display:inline-block;
			} 
			.starpoint_box {
			position:relative;background:url(https://ido-archive.github.io/svc/etc/element/img/sp_star.png) 0 0 no-repeat;font-size:0;
			}
			.starpoint_box .starpoint_bg{display:block;position:absolute;top:0;left:0;height:18px;background:url(https://ido-archive.github.io/svc/etc/element/img/sp_star.png) 0 -20px no-repeat;pointer-events:none;}
			.starpoint_box .label_star{display:inline-block;width:10px;height:18px;box-sizing:border-box;}
			.starpoint_box .star_radio{opacity:0;width:0;height:0;position:absolute;}
			.starpoint_box .star_radio:nth-of-type(1):hover ~ .starpoint_bg,
			.starpoint_box .star_radio:nth-of-type(1):checked ~ .starpoint_bg{width:10%;}
			.starpoint_box .star_radio:nth-of-type(2):hover ~ .starpoint_bg,
			.starpoint_box .star_radio:nth-of-type(2):checked ~ .starpoint_bg{width:20%;}
			.starpoint_box .star_radio:nth-of-type(3):hover ~ .starpoint_bg,
			.starpoint_box .star_radio:nth-of-type(3):checked ~ .starpoint_bg{width:30%;}
			.starpoint_box .star_radio:nth-of-type(4):hover ~ .starpoint_bg,
			.starpoint_box .star_radio:nth-of-type(4):checked ~ .starpoint_bg{width:40%;}
			.starpoint_box .star_radio:nth-of-type(5):hover ~ .starpoint_bg,
			.starpoint_box .star_radio:nth-of-type(5):checked ~ .starpoint_bg{width:50%;}
			.starpoint_box .star_radio:nth-of-type(6):hover ~ .starpoint_bg,
			.starpoint_box .star_radio:nth-of-type(6):checked ~ .starpoint_bg{width:60%;}
			.starpoint_box .star_radio:nth-of-type(7):hover ~ .starpoint_bg,
			.starpoint_box .star_radio:nth-of-type(7):checked ~ .starpoint_bg{width:70%;}
			.starpoint_box .star_radio:nth-of-type(8):hover ~ .starpoint_bg,
			.starpoint_box .star_radio:nth-of-type(8):checked ~ .starpoint_bg{width:80%;}
			.starpoint_box .star_radio:nth-of-type(9):hover ~ .starpoint_bg,
			.starpoint_box .star_radio:nth-of-type(9):checked ~ .starpoint_bg{width:90%;}
			.starpoint_box .star_radio:nth-of-type(10):hover ~ .starpoint_bg,
			.starpoint_box .star_radio:nth-of-type(10):checked ~ .starpoint_bg{width:100%;}
			
			.blind{position:absolute;clip:rect(0 0 0 0);margin:-1px;width:1px;height: 1px;overflow:hidden;}

		    .real-upload {
		      display: none;
		    }
		
		    .upload {
		      background-color: antiquewhite;
		    }
			.iamgeupload-wrap {
				margin:auto;
			}
		     .image-preview {
		      background-color: aquamarine;
		    }
		     .iamgeupload-list li {
				margin:0;
				padding:0;
		     }
		    .image-preview img {
		      height: 50px;
		    }
		    .reviewbtn {
		    	width: 100px;
		    	color: white;
		    	background-color:#2c3e50;
		    	height: 40px;
		    	border:none;
		    }
