 			#header {
				height: 30px;
				background-color: #f0f0f0;
				width:100%;
			    padding-left: 20px;
			    padding-right: 20px;
			} #header .menu {
				width:95%;
			    float: right;
			    padding: 0;
			    margin: 0;
			}  #header .ul .b {
				list-style-type: none; 
				float: right;
				padding: 3px 10px;
				margin: auto 0;
			} #header .ul a {
			    color: #545454;
			    font-size: 15px;
			    text-decoration: none;
			} .navbar {
				width:100%;
			    height: 80px;
			    padding-left: 50px;
			    padding-right: 50px;
			} .navbar #logo {
			    line-height: 60px;
			} .navbar img {
			    vertical-align: top;
			} .navbar #menu {
			    float: right;
			    list-style-type: none;
			    padding: 0;
			    margin: 0;
			} .navbar #menu li {
			    float: left;
				line-height: 60px;
				margin-left: 30px;
			} .navbar #menu li a {
			    color: #545454;
			    font-size: 15px;
			    text-decoration: none;
			} .navbar #menu li a:hover {
			 	color: silver;
			} #content {
				width: 60%;
				margin: auto;
				margin-top: 50px;
				margin-bottom: 20px;
			} #content .productimg {
				width: 50%;
				float:left;
				overflow: auto;
			} #content .productbuy{
				width:50%;
				float:left;
			} #information {
				width: 60%;
				margin: auto;
				margin-top : 550px;
			} .infornav {
				width: 100%;
				margin: 0 auto;
				position: sticky;
				top: 0;
			} .infornav ul {
				width : 100%;
				margin: 0 auto;
			}  #footer {
				background-color: black;
				color: white;
				clear: both;
				height: 100px;
				width: 100%;
			} #footer .copyright {
				text-align: center;
				padding: 32px;
			} .title {
				font-size:18px;
				font-weight:bold;
			} .price {
				font-size:18px;
				font-weight:bold;
				color:#2c3e50;
			} .express {
				font-size:10px;
				color:#808080;
			} #refund {
				width: 60%;
				margin: auto;
				margin-top:30px;
			} #review {
				width: 60%;
				margin: auto;
				margin-top:70px;
			} #review .comment {
				width: 100%;
			} #review ul {
				display:flex;
				padding: 0;
			} #review li {
				margin:auto;
				list-style: none;
			}  .imagee{
				text-align: center;
			}
			label {
				cursor: pointer;
				position: relative;
			} input[type="radio"] {
				  appearance: none;
				  margin: 0 5px;
				  width: 20px;
				  height: 20px;
				  background: #eeeeee;
				  border-radius: 50%;
				  transition: .2s;
				  cursor: pointer;
				  color: #363945;
				  border: 1px solid black;
				}
				input[type="radio"]:hover, input[type="radio"]:checked {
				   box-shadow: inset 0 0 0 .1em white, 0 0 0 .1em #c2cdd3;
				 
				}
				input[type="radio"]:checked {
				   box-shadow: inset 0 0 0 .1em white, 0 0 0 .1em #c2cdd3;
				  
				}
				input[type="radio"]:focus {
				  outline: 0;
				}
				
				label:hover::before {
					content: attr(for);
					text-align:center;
					text-transform: capitalize;
					font-size: 8px;
					position: absolute;
					top: 100%;
					left: 0;
					right: 0;
					opacity: 0.75;
					background-color: #323232;
					color: #fff;	
					padding: 0;
					border-radius: 3px;
				  	display: block;
				}
			#check-btn { 
				display: none; 
			} #check-btn:checked ~ .menubars { 
				display: block; 
			} .menubars { 
				display: none; 
			} @font-face {
			    font-family: 'ChosunGu';
			    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
			    font-weight: normal;
			    font-style: normal;

			} body {
				font-family: 'ChosunGu';
				justify-content: center;
			} .myButton {
				background-color:transparent;
				border:2px solid #2c3e50;
				display:inline-block;
				cursor:pointer;
				color:#000000;
				font-family:Arial;
				font-size:17px;
				padding:14px 76px;
				text-decoration:none;
			}
			.myButton:hover {
				background-color:transparent;
			}
			.myButton:active {
				position:relative;
				top:1px;
			} .infornav li {
				float:left;
				width: 33%;
				height: 50px;
				line-height: 50px;
				text-align: center;
				list-style:none;
				font-size: 14px;
				background-color: white;
				border-bottom: 1px solid rgba(0, 0, 0, .1);
			} .infornav a {
				display: block;
				text-decoration: none;
				color: #808080;
			} .infornav li a:hover {
			 	color: silver;
			}
			 .search-box{
			  width: fit-content;
			  height: fit-content;
			  position: relative;
			} .input-search{
			  height: 25px;
			  width: 50px;
			  border-style: none;
			  padding: 10px;
			  font-size: 10px;
			  outline: none;
			  border-radius: 25px;
			  transition: all .5s ease-in-out;
			  padding-right: 20px;
			}
			.input-search::placeholder{
			  font-size: 10px;
			  font-weight: 10;
			}
			.btn-search{
			  width: 50px;
			  height: 27px;
			  border-style: none;
			  font-size: 10px;
			  font-weight: bold;
			  outline: none;
			  cursor: pointer;
			  border-radius: 25PX;
			  position: absolute;
			  right: 0px;
			  pointer-events: none; 
			}
			.btn-search:focus ~ .input-search{
			  width: 300px;
			  border-radius: 0px;
			  border-bottom:1px solid rgba(255,255,255,.5);
			  background-color: transparent;
			  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
			}
			.input-search:focus{
			  width: 300px;
			  border-radius: 0px;
			  border-bottom:1px solid rgba(255,255,255,.5);
			  background-color: transparent;
			  transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
			} .menu a:hover {
				opacity: 0.5;
			} .star_rating {font-size:0; letter-spacing:-4px;
			}
			.star_rating a {font-size:22px;
			letter-spacing:0;
			display:inline-block;
			margin-left:5px;
			color:#ccc;
			text-decoration:none;
			}
			.star_rating a:first-child {margin-left:0;}.star_rating a.on {color:#777;}
