			#haeder {
				height: 50px;
			}
			.navbar {
				height: 80px;
				padding-left: 50px;
				padding-right: 50px;
			}
			.navbar #logo {
				line-height: 60px;
			}
			.navbar img {
				vertical-align: top;
			}
			#content {
				width: 80%;
				margin: auto;
				margin-bottom: 50px;
			}
			#footer {
				background-color: black;
				color: white;
				height: 90px;
				width: 100%;
				clear: both;
			}
			#footer .copyright {
				text-align: center;
				padding: 30px;
			}

				.Rposition {
					float:right;
				}
			body {
				font-family: 'Lato', arial, sans-serif;
				margin: 0;
			} table {
				border-collapse: collapse;
				margin-bottom:20px;
				width: 100%;
			} thead th{
				width: 300px;
				border-top: 1px solid rgba(0, 0, 0, .1);
				border-bottom: 1px solid rgba(0, 0, 0, .1);
				text-align:center;
				padding: 5px;
				color:gray;
				font-size: 14px;
			}  tbody td {
				text-align: center;
				border-bottom: 1px solid rgba(0, 0, 0, .1);
				border-left: 1px solid rgba(0, 0, 0, .1);
				border-right: 1px solid rgba(0, 0, 0, .1);
				padding: 10px;
				font-size: 14px;
			}  tbody td:first-child {
				border-left: 0;
			}  tbody td:last-child {
				border-right: 0;
			} :selection {
			  color: #fff;
			  background: #f23b26;
			}
			.container {
			  background: #fff;
			  display: flex;
			  flex-direction: column;
			  align-items: center;
			  justify-content: center;
			  padding: 20px 30px;
			}
			.pagination {
			  margin: 25px 0 15px 0;
			}
			.pagination,
			.pagination li a {
			  display: flex;
			  align-items: center;
			  justify-content: center;
			  flex-wrap: wrap;
			}
			.pagination li {
			  background: gray;
			  list-style: none;
			}
			.pagination li a {
			  text-decoration: none;
			  color: #fdfdfd;
			  height: 25px;
			  width: 25px;
			  font-size: 14px;
			  padding-top: 1px;
			  border: 1px solid rgba(0, 0, 0, 0.25);
			  border-right-width: 0px;
			  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.35);
			}
			.pagination li:last-child a {
			  border-right-width: 1px;
			}
			.pagination li a:hover {
			  background: rgba(255, 255, 255, 0.2);
			  border-top-color: rgba(0, 0, 0, 0.35);
			  border-bottom-color: rgba(0, 0, 0, 0.5);
			}
			.pagination li a:focus,
			.pagination li a:active {
			  padding-top: 4px;
			  border-left-width: 1px;
			  background: rgba(255, 255, 255, 0.15);
			  box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, 0.25);
			}
			.pagination li.icon a {
			  min-width: 30px;
			}
			.content-container {
			  position: relative;
			  z-index: 0;
			  overflow: hidden;
			  transition: all 300ms ease-in-out;
			}
			.slideout-sidebar {
			  position: fixed;
			  top: 0;
			  left: -190px;
			  z-index: 0;
			  width: 150px;
			  height: 100%;
			  padding: 20px;
			  background-color: #212121;
			  transition: all 300ms ease-in-out;
			  color: rgba(244,244,244,0.7);
			  text-align:center;
			}
			.slideout-sidebar ul {
			  list-style: none;
			  margin: 0;
			  padding: 0;
			}
			.slideout-sidebar ul li {
			  padding: 18px 0;
			  border-bottom: 1px solid rgba(244,244,244,0.4);
			  cursor: pointer;
			  color: rgba(244,244,244,0.7);
			}
			.slideout-sidebar ul li:last-child {
			  border-bottom: 0;
			}
			.slideout-sidebar ul li:hover {
			  color: rgba(244,244,244,1);
			}			
			#menu-toggle {
			  display: none;
			}
			.menu-icon {
			  position: absolute;
			  top: 18px;
			  left: 30px;
			  font-size: 24px;
			  z-index: 1;
			  transition: all 300ms ease-in-out;
			}
			#menu-toggle:checked ~ .slideout-sidebar {
			  left: 0px;
			}
			
			#menu-toggle:checked + .menu-icon {
			  left: 210px;
			}
			
			#menu-toggle:checked ~ .content-container {
			  padding-left: 190px;
			}
			  
			#menu-toggle:checked ~ .content-container {
			    padding-left: 200;
			}
			  
			.slideout-sidebar ul {
			    text-align: center;
			    max-width: 200px;
			    margin: 30px auto 0;
			}
			.menu-icon {
			    left: 20px
			}