	#haeder {
				height: 50px;
			}
			.navbar {
				height: 80px;
				padding-left: 50px;
				padding-right: 50px;
			}
			.navbar #logo {
				line-height: 60px;
			}
			.navbar img {
				vertical-align: top;
			}
			.navbar #menu {
				float: right;
				list-style-type: none;
				padding: 0;
				margin: 0;
			}
			.navbar #menu li {
				float: left;
				line-height: 60px;
				margin-left: 30px;
			}
			.navbar #menu li a {
				color: #545454;
				font-size: 15px;
				text-decoration: none;
			}
			#content {
				width: 70%;
				margin: auto;
				margin-bottom: 50px;
			}
			#footer {
				background-color: black;
				color: white;
				height: 90px;
				width: 100%;
				clear: both;
			}
			#footer .copyright {
				text-align: center;
				padding: 30px;
			}
			@font-face {
				font-family: 'ChosunGu';
				src:
					url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff')
					format('woff');
				font-weight: normal;
				font-style: normal;
			}
			body {
				font-family: 'ChosunGu';
				margin: 0;
			} 
			.content-container {
			  position: relative;
			  z-index: 0;
			  overflow: hidden;
			  transition: all 300ms ease-in-out;
			}
			.slideout-sidebar {
			  position: fixed;
			  top: 0;
			  left: -190px;
			  z-index: 0;
			  width: 150px;
			  height: 100%;
			  padding: 20px;
			  background-color: #212121;
			  transition: all 300ms ease-in-out;
			  color: rgba(244,244,244,0.7);
			  text-align:center;
			}
			.slideout-sidebar ul {
			  list-style: none;
			  margin: 0;
			  padding: 0;
			}
			.slideout-sidebar ul li {
			  padding: 18px 0;
			  border-bottom: 1px solid rgba(244,244,244,0.4);
			  cursor: pointer;
			  color: rgba(244,244,244,0.7);
			}
			.slideout-sidebar ul li:last-child {
			  border-bottom: 0;
			}
			.slideout-sidebar ul li:hover {
			  color: rgba(244,244,244,1);
			}			
			#menu-toggle {
			  display: none;
			}
			.menu-icon {
			  position: absolute;
			  top: 18px;
			  left: 30px;
			  font-size: 24px;
			  z-index: 1;
			  transition: all 300ms ease-in-out;
			}
			#menu-toggle:checked ~ .slideout-sidebar {
			  left: 0px;
			}
			
			#menu-toggle:checked + .menu-icon {
			  left: 210px;
			}
			
			#menu-toggle:checked ~ .content-container {
			  padding-left: 190px;
			}
			  
			#menu-toggle:checked ~ .content-container {
			    padding-left: 200;
			}
			  
			.slideout-sidebar ul {
			    text-align: center;
			    max-width: 200px;
			    margin: 30px auto 0;
			}
			.menu-icon {
			    left: 20px
			}